body.light-theme {
	background-color: #eee;
	color: #302e2e;
}

body.dark-theme {
	background-color: #333;
	color: #fff;
}

body.dark-theme #pickColorBtn {
	/* color: #ebae07; */
	background-color: #fdd225;
	font-size: 14px;
	font-weight: bold;
}

.wrapper {
	width: 320px;
	text-align: center;
}

#pickColorBtn {
	width: 200px;
	outline: none;
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: #facc15;
	cursor: pointer;
	font-size: 16px;
}

.selectedColor {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	font-weight: bold;
}

.colorText {
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
}

.colorGrid {
	display: inline-block;
	border-radius: 3px;
	margin-right: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.colorValue {
	font-size: 13px;
	text-align: left;
	padding-left: 0;
	margin-left: 5px;
	margin-right: 10px;
}
